p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}

fieldset{

    /*background-color: #f1f1f1;*/

    border: none;

    border-radius: 2px;

    margin-bottom: 12px;

    overflow: hidden;

    padding: 0 .625em;

}

label{

    cursor: pointer;

    display: inline-block;

    padding: 3px 6px;

    text-align: right;

    width: 150px;

    vertical-align: top;

}

input{

    font-size: inherit;

}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
    background: #f1eee9;
    font-family: "Roboto", sans-serif;
    background-color: antiquewhite;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.post-block {
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
.post-block img.author-img {
    height: 45px;
    width: 45px;
    border-radius: 45px;
}
.post-block img.author-img.author-img--small {
    height: 30px;
    width: 30px;
}
.post-block__content img,
.post-block__content video,
.post-block__content audio {
    max-width: 100%;
    border-radius: 5px;
}
.post-block .comment-view-box__comment {
    border-radius: 5px;
    background: #f5f5f5;
    padding: 15px;
}


